/* HEADER */
header {
    margin-bottom: 80px;
}

nav {
    background-color: #242424;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.nav-div1 {
    display: flex;
    align-items: center;
}

.nav-img {
    height: 60px;
    margin-left: 20px;
}

.nav-h1 {
    font-size: 40px;
    color: white;
}

.nav-img2 {
    height: 30px;
}

.nav-div2-div .nav-img2 {
    filter: brightness(0) invert(1);
}

.nav-div-a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-div-a:hover {
    font-weight: bold;
    font-style: italic;
}

.nav-div2,
.nav-div2-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-div2 {
    width: 300px;
}

.nav-div2-div {
    width: 190px;
    font-size: 17px;
}

.search-icon {
    filter: brightness(0) invert(1);
}

/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 130px;
    margin-right: 130px;
}

/* FOOTER  */
footer {
    padding: 20px;
    color: #e8f1f2;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
    background-color: #242424;

}

.a-footer {
    color: #e8f1f2;
}

.a-footer:hover {
    font-weight: bold;
    font-style: italic;
    color: #1b98e0;
}