:root {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, segoe ui, roboto, helvetica neue, arial, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}